<!doctype html>
<html lang='es'>
<head>
    <%- include('./templates/header')%>
</head>
<body  style="background-color:lavenderblush ;">
<div class="container">
    <div class="card">
        <div class="card-header">
            <%- include('./templates/navbar')%>
        </div>
        <div class="card-body">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Mision</div>
                <div class="card-body">
                    <h5 class="card-title">Nuestro proposito</h5>
                    <p class="card-text">Cubrir una necesidad de forma inmediata y segura, proporcionando una buena experiencia al usuario durante su compra. Eficiencia y celeridad: Mantener una distribución rápida, así como un proceso eficiente de los pedidos y la entrega de productos y artículos</p>
                </div>
            </div>

            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; float:right;">
                <div class="card-header">Vision</div>
                <div class="card-body">
                    <h5 class="card-title">Objetivo</h5>
                    <p class="card-text">Ser reconocidos como una empresa comprometida con el abastecimiento de todo tipo de productos de consumo masivo, que satisfagan las necesidades y preferencias de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./templates/footer')%>
</body>
</html>
